body  {
  background-color: black;
}

h1  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;
}

h2  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;
}

h3  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;
}

h4  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;

}

p  {
  color: crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

span.text {
  color: rgb(0, 47, 255);
}


li  {
  color:crimson;
  font-size: large;
  
}


div {
 display: flex;
 justify-content: center;
}



