body  {
  background-color: black;
}

h1  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;
}


p  {
  color: crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
}

div {
 display: flex;
 justify-content: center;
}

li  {
  color:crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: left;
}

a  {
  color:crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: left;

}