body  {
  background-color: black;
}

h1  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;
}

h2  {
  color: crimson;
  font-family:  'Times New Roman', Times, serif ;
  text-align: center;
}

p  {
  color: crimson;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
}



li  {
  color:crimson;
  font-size: large;
  
}


div {
 display: flex;
 justify-content: center;
}


